fastapi
pydantic
requests
aiofiles
starlette
python-dotenv
elevenlabs
langchain
langchain-openai
sounddevice
numpy
tensorflow-hub
torch
Pillow
pillow-heif
scipy
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
gradio_imageslider
gradio==4.29.0
matplotlib
opencv-python
torchvision
langchain-community
firebase-admin

